<div class="card">
  <div class="header">
    <app-time></app-time>
    <h2 class="room-name">{{meetingsService.roomName}}</h2>
  </div>
  <app-current-status [isAvailable]="meetingsService.isAvailableNow()"></app-current-status>
  <app-event-card [event]="meetingsService.getCurrentEvent()"></app-event-card>
  <hr class="horizontal-line">
  <label class="next-event">Далее</label>
  <span *ngIf="meetingsService.getNextEvent() == null">Свободна</span>
  <app-event-card [event]="meetingsService.getNextEvent()"></app-event-card>
  <button class="btn green">Забронировать на сегодня</button>
</div>
